html,
body {
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  background: #847989;
  font-family: 'Comic Sans MS', 'Marker Felt', 'Arial Rounded MT Bold', sans-serif;
}

/*.wrapper {*/
/*  padding-top: 250px;*/
/*}*/

.race-container {
  position: absolute;
  width: 90%;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px;
  box-shadow:
    0 0px 0 #eaddd6,
    0 0 10px 2px rgba(227, 174, 139, 0.99);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  svg {
    transform: scaleX(-1);
  }
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid transparent;
  border-image: repeating-linear-gradient(
      90deg,
      whitesmoke,
      whitesmoke 65px,
      transparent 35px,
      transparent 100px
    )
    1;
}

.car-model {
  display: flex;
  width: 100px;
  height: 70px;
  flex-direction: column;
  align-content: center;
  color: #f3ecf3;
  padding: 10px 0;
}

.car-model:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  cursor: pointer;
  color: #e08d8d;
  text-shadow:
    0 0 8px rgb(131, 48, 9),
    0 0 1px #fff;
}
